{% extends 'site_base.html' %}
{% load flatpages %}
{% load markup %}
{% load static %}


{% block css %}
	{{ block.super }}
	<link rel="stylesheet/less" href="{% static 'style/hotsite.less' %}">
{% endblock css %}


{% block sidebar %}
	{% get_flatpages as flatpages %}

	<nav id="main_nav"><ul>
	{% for page in flatpages %}
		<li><a href="#{{ page.title|slugify }}">{{ page.title }}</a></li>
	{% endfor %}
		<li><a href="#agenda">Agenda</a></li>
	</ul></nav>
{% endblock sidebar %}


{% block content %}
	{% get_flatpages as flatpages %}

	{% for page in flatpages %}
	{% with page.title|slugify as page_id %}
		<section id="{{ page_id }}">
			<a name="{{ page_id }}"></a>
			<div>{{ page.content|markdown }}</div>
		</section>
	{% endwith %}
	{% endfor %}
		<section id="agenda">
			<a name="agenda"></a>
			<div>
				<p>Acesse o nosso
					<a href="https://www.facebook.com/groups/{{ config.FACEBOOK_GROUP_ID }}/">grupo no Facebook</a>
				para conferir a programação e interagir.</p>
			</div>
		</section>
{% endblock content %}


{% block js %}
	{{ block.super }}

	<script src="{% static 'js/hotsite.js' %}"></script>
{% endblock js %}
